%p#notice= notice

%h1 Question #{@question.id}: #{@question.description}

%p The file name: #{@q.file}, patient ID: #{@q.patient_id}, question ID #{@q.question_id}
= video_tag "#{@q.file}", :size => "600x600", :controls => true
=link_to 'Back', patients_path
