
= simple_form_for :search, url: search_patients_path, method: :post do |f|
  = f.input :name
  = f.submit 'Search'
  = link_to 'Reset', patients_path
%br

%p There are #{@patients.size} patients in the database.
%table.table
  %thead
    %tr
      %th Name
      %th Dementia Type
  %tbody
    - @patients.each do |patient|
      %tr
        %td= patient.name
       
        %td= patient.dem_type
      
        %td= link_to 'Show', patient


