
%p#notice= notice
=link_to 'Back', patients_path, style: 'float:right; margin: 20px', class: 'btn btn-primary btn-md'
%h1 #{@patient.name} has the type #{@patient.category_type}

=link_to 'Question', patient_questions_path(@patient) , style: 'float:centre; margin: 20px', class: 'btn btn-primary btn-lg'

-#.form-group
  -#.col-xs-5
    -#%input.form-control.input-lg{:placeholder => "#{@note.note}", :type => "text"}/


%p= line_chart Feature.group(:pause).count
-#=link_to 'Edit', edit_patient_note_path(@patient.id, @note.id), class: 'btn btn-primary btn-md'

%h1 Test another form

= form_for([@patient, @note]) do |n|
  =n.text_area :note , style: "font-size: 25px; height: 200px; margin: 20px; width: 80% "
  =n.submit  class: 'btn btn-primary btn-lg', style: 'margin: 20px'
