= javascript_include_tag "https://www.gstatic.com/charts/loeader.js" 


<script src="https://www.gstatic.com/charts/loader.js"></script>     

%p#notice= notice
=link_to 'Back', patients_path, style: 'float:right; margin: 20px', class: 'btn btn-primary btn-md'
%h1 #{@patient.name} has patient id #{@patient.id}


=link_to 'Question', patient_questions_path(@patient) , style: 'float:centre; margin: 20px', class: 'btn btn-primary btn-lg'

=link_to 'Details', patient_detail_path(@patient) , style: 'float:centre; margin: 20px', class: 'btn btn-primary btn-lg'


%ul.nav.nav-tabs
  %li
    %a{:href => patient_path(@patient.id)} Pause
  %li.active
    %a{:href => patient_duration_path(@patient.id)} Duration
  %li
    %a{:href => patient_notop_path(@patient.id)} No of topics changed
  %li
    %a{:href => patient_empt_path(@patient.id)} Empty words
  %li
    %a{:href => patient_variety_path(@patient.id)} Variety of words

%br
= scatter_chart Feature.pluck(:duration, :patient_id), xtitle: "duration", ytitle: "patient's id"


-#.form-group
  -#.col-xs-5
    -#%input.form-control.input-lg{:placeholder => "#{@note.note}", :type => "text"}/


-#=link_to 'Edit', edit_patient_note_path(@patient.id, @note.id), class: 'btn btn-primary btn-md'

%br


= form_for([@patient, @note]) do |n|
  =n.text_area :note , style: "font-size: 25px; height: 200px; margin: 20px; width: 80% "
  =n.submit  class: 'btn btn-primary btn-lg', style: 'margin: 20px'

-#= area_chart Feature.pluck(:duration, :patient_id)
-#= scatter_chart Feature.pluck(:pause, :patient_id), xtitle: "pause", ytitle: "patient's id"
-#= scatter_chart Feature.pluck(:pause, :patient_id), xtitle: "pause", ytitle: "patient's id", colors: ["#666"]



