%h1 Feature#index
%p Find me in app/views/feature/index.html.haml

%p There are #{@features.size} features in the database.
%table.table
  %thead
    %tr
      %th Patient ID
      %th Pause
      %th Duration
      %th No Of Topics Changed
      %th Empty Words
      %th Variety Of Words
    
  %tbody
    - @features.each do |feature|
      %tr
        %td= feature.patient_id
        %td= feature.pause
        %td= feature.duration
        %td= feature.no_of_topics_changed
        %td= feature.empty_words
        %td= feature.variety_of_words
      
        %td= link_to 'Show', feature
