<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  
  <body>

    <%= render 'layouts/alerts'%>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/patients"> IVA </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/patients"> Home</a></li>
        </ul>
     
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <%= link_to = link_to 'Sign out', destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        <% end %>
        
        
      </div>
  </nav>
    <%= yield %>
  </body>
</html>

